//! **************************************************************************
// Written by: Map P.20131013 on Wed Apr 17 20:14:53 2024
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

